pytorch (https://anaconda.org/pytorch/pytorch) 
sklearn (https://anaconda.org/anaconda/scikit-learn) 
transformers (https://anaconda.org/conda-forge/transformers) 
networkx (https://anaconda.org/anaconda/networkx) 
Python>=3.6
NumPy
SciPy
PyTorch>=1.1
tqdm
tensorboard_logger
Matplotlib
